<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayyash.recfon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calorie Diary"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SarapanActivity" />
        <activity android:name=".frekuensi.FrekuensiBulanan" />
        <activity android:name=".selinganpagi.SelinganPagiActivity" />
        <activity android:name=".makansiang.MakanSiangActivity" />
        <activity android:name=".selingansiang.SelinganSiangActivity" />
        <activity android:name=".makanmalam.MakanMalamActivity" />
        <activity android:name=".selinganmalam.SelinganMalamActivity" />
        <activity android:name=".PerhitunganPagi" />
        <activity android:name=".selinganpagi.PerhitunganSelinganPagi" />
        <activity android:name=".makansiang.PerhitunganMakanSiang" />
        <activity android:name=".selingansiang.PerhitunganSelinganSiang" />
        <activity android:name=".makanmalam.PerhitunganMakanMalam" />
        <activity android:name=".selinganmalam.PerhitunganSelinganMalam" />
        <activity android:name=".profile.ProfileUser" />

        <receiver
            android:name=".NotifikasiListener"
            android:process=".remote" />
        <receiver
            android:name=".SimpleBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Register" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HalamanDepan" />
        <activity android:name=".MenuFoodsRecord" />
        <activity android:name=".Login" />
        <activity android:name=".Persetujuan" />
        <activity android:name=".StatusGizi" />
        <activity android:name=".aktifitas.AktifitasFisik" />
        <activity android:name=".frekuensi.FormFrekuensiMakan" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".aktifitas.FormAktifitas"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".KonfirmasiSarapan"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".selinganpagi.KonfirmasiSelinganSarapan"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".makansiang.KonfirmasiMakanSiang"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".selingansiang.KonfirmasiSelinganSiang"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".makanmalam.KonfirmasiMakanMalam"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".selinganmalam.KonfirmasiSelinganMalam"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PerbandinganAsupan"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".MainMenu" />
        <activity android:name=".aktifitas.MenuAktifitas" />
        <activity android:name=".aktifitas.AktifitasSedentari"></activity>
    </application>

</manifest>